<h1>
  PROTEINS INDEX
</h1>

<div >
  <ul>
    <% @proteins.each do |protein| %>
      <li class="protein-link">
        <%= link_to "#{protein.name}", protein %>
      </li>
    <% end %>
  </ul>
</div>
