<h1>
  <%= @protein.name %>
</h1>

<br></br>

<h3>
  sauce pairings
</h3>

<table>
  <% @matching_sauces.each do |matching_sauce| %>
    <tr>
      <td> <%= link_to "#{matching_sauce.name}", sauce_path(matching_sauce) %> </td>
    </tr>
  <% end  %>
</table>
